.account-table-container {
    .ant-btn {
        margin-right: 8px; // Khoảng cách giữa các nút

        &.edit-button {
            background-color: #1890ff; // Màu nền cho nút chỉnh sửa
            border-color: #1890ff; // Màu viền cho nút chỉnh sửa
            color: #fff; // Màu chữ cho nút chỉnh sửa

            &:hover,
            &:focus {
                background-color: #40a9ff; // Màu nền khi hover hoặc focus
                border-color: #40a9ff; // Màu viền khi hover hoặc focus
                color: #fff; // Màu chữ khi hover hoặc focus
            }
        }

        &.delete-button {
            background-color: #ff4d4f; // Màu nền cho nút xóa
            border-color: #ff4d4f; // Màu viền cho nút xóa
            color: #fff; // Màu chữ cho nút xóa

            &:hover,
            &:focus {
                background-color: #ff7875; // Màu nền khi hover hoặc focus
                border-color: #ff7875; // Màu viền khi hover hoặc focus
                color: #fff; // Màu chữ khi hover hoặc focus
            }
        }
    }
}